@font-face {
    font-family: Poppins__Bold;
    src: url('../Fonts/Poppins-Bold.ttf');
}

@font-face {
    font-family: Poppins__Medium;
    src: url('../Fonts/Poppins-Medium.ttf');
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    letter-spacing: 0.03em;
    line-height: 1.3195;
}

section {
    background-color: #7ed3cb;
}

article {
    padding: 60px 0px 60px 0px;
}

.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
}

h1 {
    font-size: 4rem;
    font-family: 'Poppins__Bold';
    color: #fff;
    opacity: .5;
}

.column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.Img__col {
    height: auto;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.Text__Col {
    height: auto;
}

.Para {
    padding: 0px 50px 0px 50px;
}

.Para p {
    font-size: 2rem;
    font-weight: 700;
    font-family: 'Poppins__Medium';
    color: #fff;
}

.Img__col .Img {
    position: absolute;
    top: -30px;
    left: 60px;
    bottom: 0;
    right: 0;
}

.Button {
    padding: 25px 0px 0px 0px;
}

.Button button {
    border: 2px solid white;
    background-color: transparent;
    color: #fff;
    padding: 17px 25px 14px 25px;
    border-radius: 4px;
    text-transform: uppercase;
    font-size: .88889rem;
    cursor: pointer;
    -webkit-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.Button button:hover {
    background-color: #fff;
    color: #658d95;
    -webkit-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.Button button span i {
    font-size: 1.12rem;
    -webkit-transform: rotate(-35deg);
    -ms-transform: rotate(-35deg);
    transform: rotate(-35deg);
    margin-left: 5px;
}

.Img img {
    max-width: 100%;
    display: block;
    height: auto;
}

@media screen and (max-width: 1080px) {
    .Para p br {
        display: none;
    }
}

@media screen and (max-width: 800px) {
    .row {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .Img__col {
        position: initial;
    }
    .Img__col .Img {
        position: initial;
    }
    h1 {
        font-size: 3rem;
    }
    .Para p {
        font-size: 1.12rem;
    }
    .Para {
        padding: 0px 0px 0px 0px;
    }
    .Padding-x, .Para {
        padding: 10px 20px 10px 20px;
    }
}

@media screen and (max-width: 640px) {
    h1 {
        font-size: 1.50rem;
    }
}